# Vivado HW Folder
*.hw
*.info
*.lpr

# Vivado RUNS Folder
*.runs
*.backup.*

# Vivado CACHE Folder
*.cache

# Vivado .Jobs Folder
*.jobs

# Log and report files
*.log
*.vds
*.vdi
*.rpt

# Rst files
*.rst

# Os Files
*.os

# Pb Files
*.pb

